/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lexend;
}

.ProseMirror > * + * {
  margin-top: 0.75rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1rem;
  list-style: initial !important;
}

.ProseMirror .ProseMirror-gapcursor {
  bottom: 0;
}

h1 {
  font-size: 1.5rem;
}

.highlighted-content {
  color: #ff6060 !important;
  cursor: pointer;
}

.highlighted-content.ProseMirror-selectednode {
  border: 1px solid #ff6060;
  padding: 0 4px;
  border-radius: 4px;
}

.tiptap-editor {
  border: 1px solid #cfdae6;
  border-radius: 4px;
  padding: 16px;
  height: 300px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}