<form [formGroup]="reactiveForm">
  <!-- <div class="text-xl mb-2">With Reactive Forms</div> -->

  <div>
    <div class="rounded-t-md flex justify-between items-center"
    style="border: 1px solid #cfdae6; padding: 11px 14px;">
    <p>Response Text</p>
      <button
        class="rounded h-7 flex justify-center items-center ml-1 p-4"
        style="background-color: #FFE7E3;"
        (click)="onClick()"
      >
        Add Concept
      </button>
    </div>
    <tiptap-editor [editor]="editor" formControlName="content"></tiptap-editor>
  </div>
</form>
